.header__img{
    width: 300px;
    height: 200px;
    border-radius: 15px;

}
.card{
    padding:20px;
    text-align:center;
    background-color: rgb(91, 91, 117);
    width: 300px;
    margin: 20px;
    border-radius: 15px;

}
.container{
    max-width: 1100px;
    margin: 0 auto;

}
p{
    color:white;
}
.header{
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
}
#delete,#edit{
    width: 80px;
    height: 35px;
    margin: 5px;
}
